



@media (max-width:550px){


    #grid-container {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 10px;
    } 
header {
    background-color: violet;
    text-align-last: center;
    grid-column: 1/6;
    height: 100px;
}
sidebar {
    background-color: teal;
    text-align-last: center;
    grid-column: 1/6;
    height: 100px;
    
   
}
content {
    background-color: turquoise;
    text-align-last: center;
    grid-column: 1/6; 
    height: 125px;
}
sidebar2 {
    background-color: yellow;
    grid-column: 1/6;
    text-align-last: center;
    height: 100px;
}
footer {
    background-color: tomato;
    grid-column: 1/6;
    height: 100px;
    text-align-last: center;
}
}

@media only screen and (min-width:550px){

    #grid-container {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 10px;
    }


header {
    background-color: rgb(130, 238, 157);
    text-align-last: center;
    grid-column: 1/6;
    height: 100px;
}
sidebar {
    background-color: teal;
    text-align-last: center;
    grid-column: 1/3;
    height: 200px;
    
   
}
content {
    background-color: rgb(187, 64, 224);
    text-align-last: center;
    grid-column: 3/6; 
    height: 200px;
}
sidebar2 {
    background-color: yellow;
    grid-column: 1/6;
    text-align-last: center;
    height: 100px;
}
footer {
    background-color: rgb(255, 71, 71);
    grid-column: 1/6;
    height: 100px;
    text-align-last: center;
}
}


@media only screen and (min-width:900px){

    #grid-container {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 10px;
    }


header {
    background-color: rgb(130, 238, 157);
    text-align-last: center;
    grid-column: 1/6;
    height: 150px;
}
sidebar {
    background-color: teal;
    text-align-last: center;
    grid-column: 1/1;
    height: 250px;
    
   
}
content {
    background-color: rgb(187, 64, 224);
    text-align-last: center;
    grid-column: 2/5; 
    height: 250px;
}
sidebar2 {
    background-color: yellow;
    grid-column: 5/6;
    text-align-last: center;
    height: 250px;
}
footer {
    background-color: rgb(184, 255, 71);
    grid-column: 1/6;
    height: 150px;
    text-align-last: center;
}
}
