h1{
    color:darkgreen;
}
.firstone {
    font-family: georgia;
    text-align: center;
}
a{
    text-decoration: none;
   }

#pic {
    float: left;
    margin-right:20px;
}
a:hover{
    color:blueviolet;
    text-decoration: underline;
}
.parent > p{
    text-align: center;
}