.navbar {
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color:palevioletred;
}
.blog {
    position: relative;
    left: 500px;
}
.content {
    position: relative;
    left:200px;
}

h4 {
    border: 5px greenyellow;
   
}
.div2
{
    background-color: rgb(211, 211, 211);
    width: 900px;
    height:200px ;
    border: 15px solid rgb(128, 0, 96);
    padding: 15px;
    margin: 15px;
    position: relative;
    top: 100px;
}
.line {
    position: relative;
    left: 400px;
    bottom: 200px;
}
.linetwo {
    position: relative;
    left: 400px;
    bottom:190px;
}
.linethree{
    position: relative;
    left: 400px;
    bottom: 150px;
}
.div3 {
    background-color: rgb(211, 211, 211);
    width: 900px;
    height:200px ;
    border: 15px solid rgb(128, 0, 96);
    padding: 15px;
    margin: 15px; 
    position: relative;
    top: 105px;
}
.rainbow {
    position: relative;
    left: 400px;
    bottom:200px;
}
.rainbow2 {
    position: relative;
    left: 400px;
    bottom: 210px
}
.rainbow3  {
    position:relative;
    left: 400px;
    bottom:160px;
}